<mat-toolbar color="primary" id="header">
  <img src="../assets/Logo-GeoPatrimoine-FondRouge.svg">
  <span class="logoTitle">G</span>eo<span class="logoTitle">P</span>atrimoine
  <div id="dialog">
  <app-dialog></app-dialog></div>
  <form class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput  >
      </mat-form-field>
    <button>Search</button>
    
    </form>
</mat-toolbar>
<div class="content">
<div class="map">
<app-map></app-map></div>
<div class="liste">
  <app-list></app-list>
</div>
</div>