<mat-toolbar id="header" class="mat-toolbar" color="primary" >
	<img src="../assets/Logo-GeoPatrimoine-FondRouge.svg">
	<h2>G<span>eo</span>P<span>atrimoine</span></h2>
	<div id="dialog" color="primary">
		<app-dialog ></app-dialog>
	</div>
</mat-toolbar>

<div class="content">
	<form color="primary">
		<a href=""><img src="../assets/Icone-Loupe.svg" ></a>
		<mat-form-field>
			<input matInput>
		</mat-form-field>
	</form>
	
	<div class="map">
	<app-map></app-map></div>
	<div class="liste">
		<h5>Resultats</h5>
	  <app-list></app-list>
	</div>
</div>

<footer>
	<p>Copyright Equipe_4 - 2018</p>
</footer>
