
#header img{
    width: 3rem;
	padding-right: 0.5rem;
	margin-left: 20%;
}

#header h2 {
	font-family: DK Lemon Yellow Sun, 'Arial', sans-serif;
	font-size: 3rem;
	margin-right: auto;
}

#header h2 span {
	font-size: 2rem;
}

#dialog {
	margin-right: 20%;
}

.content {
	width: 60rem;
	height: 37rem;
	margin-left: auto;
  	margin-right: auto;
  	padding: 1rem;
    background-color: white;
}

.content form {
	width: 60rem;
	height: 2rem;
	margin: 0px;
	margin-bottom: 0.5rem;
	padding: 0px;
}

a img{
	background-color: #3e3e3e;
	border-radius: 5px;
	width: 2rem;
	height: 2rem;
}

.map{
    width: 40rem;
    margin-right: 0.5rem;
    float: left;
}
/*
.liste{
    background-color: #3e3e3e;
    width: 19rem;
    height: max-content;
    display: inline-block;
    margin-left: 0.5rem;
}*/


.liste{
    background-color: #3e3e3e;
    width: 60rem;
    height: max-content;
    display: inline-block;
    margin-left: 0.5rem;
}
.liste h5{
	color: white;
	background-color: #3e3e3e;
	border-radius: 5px;
	font-family: DK Lemon Yellow Sun, 'Arial', sans-serif;
	font-size: 1.5rem;
	text-align: center;
	margin: 0px;
}

footer {
	background-color: #3e3e3e;
	margin-right: auto;
	margin-left: auto;
}
footer p {
	font-size: 1rem;
	text-align: center;
	color: white;
	font-family: DK Lemon Yellow Sun, 'Arial', sans-serif;
	padding: 0.5rem;
	margin: 0px;
}

