<mat-toolbar color="primary" id="header">
  <img src="../assets/Logo-GeoPatrimoine-FondRouge.svg">
  <span class="logoTitle">G</span>eo<span class="logoTitle">P</span>atrimoine
  <div id="dialog">
  <app-dialog class="buttonConnect"></app-dialog></div>
</mat-toolbar>

<div class="content">
	<form>
		<a href=""><img src="../assets/Icone-Loupe.svg" ></a>
		<mat-form-field>
			<input matInput>
		</mat-form-field>
	</form>
	
	<div class="map">
	<app-map></app-map></div>
	<div class="liste">
		<h5>Resultats</h5>
	  <app-list></app-list>
	</div>
</div>

<footer>
	<p>Copyright Equipe_4 - 2018</p>
</footer>
