
<!--<form color="primary">
		<a><img (click)="search()" src="../assets/Icone-Loupe.svg" ></a>
		<mat-form-field>
			<input matInput type="text" [(ngModel)]=searchTag>
		</mat-form-field>
	</form>-->
	<a><img (click)="search()" src="../assets/Icone-Loupe.svg" ></a>
	<input matInput type="text" [(ngModel)]=searchTag>
	<button (click)="reset()">Reset</button>
<mat-list role="list">
  

<div *ngFor="let element of arrData;">
   
        <mat-list-item role="listitem"> {{element.nom}}</mat-list-item>
     
    
 
</div>
</mat-list>